*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
    background-color: white;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f2f2f2;
}

/* FORM */
.form{
    width:400px;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
}
h1{
    text-align:center;
    margin-bottom:30px;
}

/* LABEL */
label{
    font-size:18px;
    font-weight:bold;
}

/* INPUT */
input{
    width:100%;
    padding:12px;
    margin-bottom:25px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:16px;
}

/* BUTTON */
button{
    width:300px;
    padding: 20px;
    border:none;
    border-radius:5px;
    background:#1677ff;
    color:white;
    font-size:22px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
    margin-left: 50px;
    margin-bottom: 60px;
}
button:hover{
    background:#005ce6;
}