* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px; 
}
a {
  text-decoration: none; 
  color: #1a1919;
  margin-right: 10px; 
}
p {
  background-color: rgb(153, 153, 153);
  text-align: center; 
}
